@import "../variables/variables";

.Homepage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
  left: 0;

  z-index: 1000;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

// Homepage__right__side (Right Side)
.Homepage__right__side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  height: 100%;
  padding: 4rem 2rem;
  background: $black;
}

.Homepage__right__side__coll {
  height: 30%;
  width: 95%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #ffffff;

  background-color: #212229;
  border-radius: 30px;

  transition: all .3s ease;

  &:hover {
    transform: scale(1.1);

    .Homepage__right__side__bgForPhoto {

      &.resumeBlock {
        & > div:nth-child(1) {
          transform: scale(1.05) translateY(24px);
        }

        & > div:nth-child(2) {
          opacity: 1;
          transform: scale(1.22) rotateZ(0deg) translate(-5px, -15px);
        }
      }

      &.portfolioBlock {
        & > div:nth-child(1) {
          transform: scale(1.20) translateY(7px);
        }

        & > div:nth-child(2) {
          opacity: 1;
          transform: scale(1) rotateZ(-31deg) translate(-17px, -10px);
        }

        & > div:nth-child(3) {
          opacity: 1;
          transform: scale(1.05) translateY(-13px) rotateZ(-13deg) translate(-11px, 0px);
        }

        & > div:nth-child(4) {
          opacity: 1;
          transform: scale(1.05) translateY(-21px) rotateZ(9deg) translate(7px, 4px);
        }

        & > div:nth-child(5) {
          opacity: 1;
          transform: scale(.97) translateY(-10px) rotateZ(31deg) translate(21px, 2px)
        }
      }

      &.contactBlock{
        & > div:nth-child(1) {
          transform: scale(.95) rotateZ(0) translate(13px, -12px);
        }

        & > div:nth-child(2) {
          opacity: 1;
          transform: scale(1) rotateZ(0) translate(4px, -4px);
        }

        & > div:nth-child(3) {
          opacity: 1;
          transform: scale(1.05) translate(-4px, 4px);;
        }

        & > div:nth-child(4) {
          opacity: 1;
          transform: scale(1.1) translate(-12px, 5px);;
        }
      }
    }
  }
}

.Homepage__right__side__photo {
  margin-right: 2rem;
}

.Homepage__right__side__bgForPhoto {
  position: relative;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 2px solid $white;
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    position: absolute !important;
    transition: all .3s ease;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &.contactBlock{
    & > div {
      transition: all .42s ease;
      &:nth-child(1) {
        transform: scale(1.11);
        z-index: 1;
      }

      &:nth-child(2), &:nth-child(3), &:nth-child(4){
        transition-delay: .15s;
        opacity: 0;
        z-index: 2;
        transform-origin: center center;
        transform: scale(0) rotateZ(0) translate(0, 0);
      }

      &:nth-child(3) {
        z-index: 3;
        transition-delay: .3s;
      }

      &:nth-child(4) {
        z-index: 4;
        transition-delay: .45s;
      }
    }
  }

  &.resumeBlock {
    & > div {
      transition: all .42s ease;
      &:nth-child(1) {
        transform: scale(1.11);
        z-index: 2;
      }

      &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5){
        opacity: 0;
        z-index: 1;
        transform-origin: left bottom;
        transform: scale(0) rotateZ(35deg) translate(-5px, 10px);
      }
    }
  }

  &.portfolioBlock {
    & > div {
      &:nth-child(1) {
        transform: scale(1.11);
        z-index: 2;
      }

      &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5){
        transition-delay: .07s;
        opacity: 0;
        z-index: 1;
        transform-origin: center bottom;
        transform: scale(0) translateY(-20px);
      }

      &:nth-child(3) {
        transition-delay: .14s;
      }

      &:nth-child(4) {
        transition-delay: .21s;
      }

      &:nth-child(5) {
        transition-delay: .28s;
      }
    }
  }
}

.Homepage__right__sidetitle {
  font-size: 2rem;
  text-transform: uppercase;

  & span {
    color: $pink;
  }
}

.Homepage__right__sidesubtitle {
  font-style: italic;
  color: rgba(255, 255, 255, .8);
}


// Homepage__right__side (Left Side) ========================
// ==========================================================

.Homepage__left__side {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  background-color: $black;
  width: 50%;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__admin {
      color: #ffffff;
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 25px;
      text-decoration: none;

      transition: all .2s linear;

      &:hover {
        transform: scale(1.07);
        text-decoration: underline;
        transition: all .2s linear;
      }
    }
  }

  .Homepage__left__side__left__side__content {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
  }

  & h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;

    font-size: 2.5rem;
    color: $white;

    & span {
      color: $pink;
    }
  };

  & h2 {
    margin-bottom: 3rem;

    text-transform: uppercase;
    text-decoration: underline;

    font-size: 1.5rem;
    color: $white;
  };

}

.Homepage__left__side__photo {
  width: 100%;
  max-width: 54px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);

  margin-bottom: 1rem;
}

.Homepage__left__side__heading {

  text-transform: uppercase;

  font-size: 2rem;
  color: $white;

  & span {
    color: $pink;
  }
}


// Social ==================================
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 24px;

  a {
    display: block;
    margin-right: 0.8rem;
    text-decoration: none;

    transition: transform 0.2s linear, fill 0.2s linear;

    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
      fill: $pink;
    }

    & i {
      color: #BBBBCC;
      font-size: 22px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

//Notebook(max-width: 1199px)
@media (max-width: $notebook) {
  .Homepage__right__side__bgForPhoto {
    width: 85px;
    height: 85px;

    & img {
      width: 40px;
    }
  }

  .Homepage__right__side__photo {
    margin-left: 2rem;
  }

  .Homepage__right__sidesubtitle {
    margin-right: 2rem;
  }
}

//Notebook(max-width: 991px)
@media (max-width: $tablet) {
  .Homepage__left__side__photo {
    width: 9rem;
  }

  .Homepage__left__side h1 {
    font-size: 2rem;
  }

  .Homepage__left__side h2 {
    margin-bottom: 2rem;
  }

  .social a i {
    transform: translateY(-2px);
  }

  .Homepage__right__side {
    padding: 2rem 2rem;
    height: 100vh;
  }

  .Homepage__right__side__coll {
    padding: 0 1rem;
  }

  .Homepage__right__side__photo {
    margin-left: 1rem;
  }

  .Homepage__right__sidesubtitle {
    margin-right: 1rem;
  }
}


//Mobile(max-width: 767px)
@media (max-width:$mobile) {
  .Homepage {
    flex-direction: column;
    height: 100%;
  }

  .Homepage__left__side {
    width: 100vw;
    padding: 2rem 2rem;
  }


  .social a {
    margin-right: 1.2rem;

    & img {
      width: 28px;
    }

    & i {
      font-size: 26px;
    }
  }

  .Homepage__right__side {
    width: 100vw;
    padding: 2rem 2rem;
    align-items: center;
    height: 100%;
  }

  .Homepage__right__side__coll {
    padding: 3rem 2rem;
    margin-bottom: 15px;
  }

  .Homepage__right__side__coll:last-child {
    margin-bottom: 0;
  }

}


//Mobile-sm(max-width: 565px)
@media (max-width:$mobile-sm) {
  .Homepage__left__side {
    padding: 1rem;
  }

  .Homepage__left__side__photo {
    width: 9rem;
  }

  .Homepage__left__side h1 {
    font-size: 1.5rem;
  }

  .Homepage__left__side h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .social a img {
    width: 26px;
  }

  .Homepage__right__side {
    padding: 1rem;
  }

  .Homepage__right__side__coll {
    padding: 2rem 1rem;
  }

  .Homepage__right__side__photo {
    margin-right: 15px;
  }

  .Homepage__right__side__content {
    margin-right: 15px;
  }

  .Homepage__right__sidetitle {
    font-size: 1.5rem;
  }
}
